body {
  background-color: rgb(138, 151, 224);
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

img {
  width: 500px;
  margin-bottom: 25px;
  border-radius: 25px;
} 

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input, label {
  margin: 5px;
  font-size: 20px;
}

label {
  font-weight: 700;
  font-size: 24px;
}

.button {
  border-radius: 10px;
  background-color: white;
  border: none;
  padding: 3px 10px;
  font-size: 18px;
}

.button:hover {
  background-color: rgb(208, 214, 245);
}

p{
  font-size: 18px;
}